Repository reactive-firewall/FetchPublicBlacklists: changes, and which Codecov flags are due for each by the changed paths.
All: FetchPublicBlacklists, tests

.codecov.yml:

coverage:
  status:
    project:
      default: off
      FetchPublicBlacklists:
        target: 25%
        flags: FetchPublicBlacklists
        base: auto
        paths:
          - FetchPublicBlacklists/
      tests:
        target: 50%
        flags: tests
        paths:
          - tests

flags:
  FetchPublicBlacklists:
    paths:
      - FetchPublicBlacklists/
  tests:
    paths:
      - tests
    joined: false

added log dump for tox python env
  .travis.yml
  Makefile
Due: none

#1 fix for bad var name
  FetchPublicBlacklists/FetchPublicBlacklists.py
Due: FetchPublicBlacklists

#2 fix and #3 fix
  FetchPublicBlacklists/FetchPublicBlacklists.py
Due: FetchPublicBlacklists

fix for #5
  FetchPublicBlacklists/FetchPublicBlacklists.py
Due: FetchPublicBlacklists

#6 fixed
  .coveragerc
  FetchPublicBlacklists/helpers.py
  tests/test_basic.py
Due: FetchPublicBlacklists, tests

fix for git ignore
  .gitignore
Due: none

fix for git ignore
  FetchPublicBlacklists/helpers.py
Due: FetchPublicBlacklists

fix for git ignore
  FetchPublicBlacklists/FetchPublicBlacklists.py
Due: FetchPublicBlacklists

fix for regression bugs
  FetchPublicBlacklists/FetchPublicBlacklists.py
  tests/test_advanced.py
  tests/test_basic.py
Due: FetchPublicBlacklists, tests

workaround for broken python 3.3 env in travis CI
  .travis.yml
Due: none

fix for travis CI update
  .travis.yml
Due: none

regression fix for travis CI
  .travis.yml
Due: none
